In [367]:

#importing required library
from selenium import webdriver # To access the browser and website
import pandas as pd  # To format the strutured data
import time # To pause/hold the step by step process

# EXception lib
from selenium.common.exceptions import NoSuchElementException

In [368]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains

# Answer 1

In [5]:

driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)



url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(3)



most_Viewed_youtube = {}
most_Viewed_youtube['Rank'] = []
most_Viewed_youtube['Name'] = []
most_Viewed_youtube['Artist'] = []
most_Viewed_youtube['Upload_date'] = []
most_Viewed_youtube['Views'] = []
time.sleep(3)


a = 1 



for i in range(0,30):
    time.sleep(3)
    
    try:
        
        rank = driver.find_element(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[1]".format(a))
        most_Viewed_youtube['Rank'].append(rank.text)
        time.sleep(2)
            
        
        name = driver.find_element(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[2]".format(a))
        most_Viewed_youtube['Name'].append(name.text)
        time.sleep(2)
        
        
        artist = driver.find_element(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[3]".format(a))
        most_Viewed_youtube['Artist'].append(artist.text)
        time.sleep(2)
    
        
        uploadDate = driver.find_element(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[5]".format(a))
        most_Viewed_youtube['Upload_date'].append(uploadDate.text)
        time.sleep(2)
    
        
        view = driver.find_element(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr[{}]/td[4]".format(a))
        most_Viewed_youtube['Views'].append(view.text)
        time.sleep(2)
    except NoSuchElementException as n:
        print("Exception",n)
   
    # incresing counter variable
    a += 1


Most_Viewed_youtube = pd.DataFrame(most_Viewed_youtube)
Most_Viewed_youtube

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

# answer 2

In [85]:

driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)

url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

driver.maximize_window()

In [86]:
international = driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

In [87]:
international = driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div/ul/li[3]/a")
international.click()

In [48]:
name = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in titles:
        name.append(i.text)
        
Series = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//span[@class="match-card__format-name format__name-test ng-scope"]')
    for i in titles:
        Series.append(i.text)
        
Place = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in titles:
        Place.append(i.text)
        
Date = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in titles:
        Date.append(i.text)
        
Time = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in titles:
        Time.append(i.text)

In [51]:
df = pd.DataFrame({'Match title':name,'Series':Series,'Place':Place,'Date':Date,'Time':Time})

In [52]:
df

,Match title,Series,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,Final -,London,7 JUN 2023,3:30 PM IST

# only one fixture

# answer 3

In [148]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)


url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(3)

india_gdp = driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/div[1]/a[3]").get_attribute('href')
driver.get(india_gdp)
time.sleep(3)

state_path = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").get_attribute('href')
driver.get(state_path)
time.sleep(3)



gdp_india = {}
gdp_india['Rank'] = []
gdp_india['State'] = []
gdp_india['GSDP at current price (19-20)'] = []
gdp_india['GSDP at current price (18-19)'] = []
gdp_india['Share(18-19)'] =[]
gdp_india['GDP($ billion)'] = []


counter = 1
time.sleep(2)
for i in range(len(driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr"))):
    
    #rank
    rank = driver.find_element(By.XPATH,f"//table[@id='table_id']/tbody/tr[{counter}]/td[1]")
    gdp_india['Rank'].append(rank.text)
    
    state = driver.find_element(By.XPATH,f"//table[@id='table_id']/tbody/tr[{counter}]/td[2]")
    gdp_india['State'].append(state.text)   
               
    #gsdb19_20
    gsdb19_20= driver.find_element(By.XPATH,f"//table[@id='table_id']/tbody/tr[{counter}]/td[3]")
    gdp_india['GSDP at current price (19-20)'].append(gsdb19_20.text)
               
    
    gsdb18_19= driver.find_element(By.XPATH,f"//table[@id='table_id']/tbody/tr[{counter}]/td[4]")
    gdp_india['GSDP at current price (18-19)'].append(gsdb18_19.text)   
    
    share= driver.find_element(By.XPATH,f"//table[@id='table_id']/tbody/tr[{counter}]/td[5]")
    gdp_india['Share(18-19)'].append(share.text)
               
    
    gdb = driver.find_element(By.XPATH,f"//table[@id='table_id']/tbody/tr[{counter}]/td[6]")
    gdp_india['GDP($ billion)'].append(gdb.text)   
    
    counter +=1  # moving to next row
    time.sleep(2)           
               
# Creating Dataframe
Gdp_india = pd.DataFrame(gdp_india)
Gdp_india.to_csv("Gdp_india")
Gdp_india

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# answer 4

In [167]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)


url = " https://github.com/"
driver.get(url)
time.sleep(3)

In [168]:
element = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul")
Action = ActionChains(driver)
Action.click_and_hold(element).perform()

element1 = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
element1.click()

In [233]:


Repository_title = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in titles[0:22]:
        Repository_title.append(i.text)
        
        
Repository_description = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in titles[0:22]:
        Repository_description.append(i.text)
        
Language_used = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in titles[0:22]:
        Language_used.append(i.text)
        
        
Contributors_count = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]')
    for i in titles[0:22]:
        Contributors_count.append(i.text.split(' ')[-5])

In [231]:

Repository_title = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in titles:
        Repository_title.append(i.text)

In [234]:
df = pd.DataFrame({'Repository_title':Repository_title,'Repository_description':Repository_description,'Language_used':Language_used,'Contributors_count':Contributors_count})

In [235]:
df

,Repository_title,Repository_description,Language_used,Contributors_count
0,xtekky / gpt4free,"decentralising the Ai Industry, just some lang...",Python,"2,021"
1,AIGC-Audio / AudioGPT,"AudioGPT: Understanding and Generating Speech,...",Python,160
2,gaomingqi / Track-Anything,Track-Anything is a flexible and interactive t...,Python,174
3,Eugeny / tabby,A terminal for a more modern age,TypeScript,"2,782"
4,whoiskatrin / chart-gpt,AI tool to build charts based on text input,TypeScript,173
5,apple / swift-foundation,The Foundation project,Swift,42
6,gmpetrov / databerry,The no-code platform for connecting custom dat...,TypeScript,105
7,deep-floyd / IF,"Official implementation of the paper ""Segment ...",Python,142
8,UX-Decoder / Segment-Everything-Everywhere-All...,WizardLM: Empowering Large Pre-Trained Languag...,Python,68
9,nlpxucan / WizardLM,[秋城落叶] QQ 音乐源无损歌曲下载,Python,45
10,QiuChenly / QQFlacMusicDownloader,😎 Awesome lists about all kinds of interesting...,Python,209
11,sindresorhus / awesome,The Generative AI Landscape - A Collection of ...,HTML,"25,520"
12,ai-collection / ai-collection,A GPT-empowered penetration testing tool,Rust,288
13,GreyDGL / PentestGPT,An Open Source Financial Switch to make Paymen...,Python,127
14,juspay / hyperswitch,Dark and Darker private server implementation ...,Python,247
15,Snaacky / dndserver,NeMo Guardrails is an open-source toolkit for ...,Python,52
16,NVIDIA / NeMo-Guardrails,Modular Auto-GPT Framework,Python,43
17,farizrahman4u / loopgpt,SkyAGI: Emerging human-behavior simulation cap...,Python,56
18,litanlitudan / skyagi,The AutoGPT MetaTrader Plugin is a software to...,Python,18
19,isaiahbjork / Auto-GPT-MetaTrader-Plugin,Fine-tuning LLaMA to follow Instructions withi...,JavaScript,21
20,ZrrSkywalker / LLaMA-Adapter,A full-featured download manager.,Python,164
21,agalwood / Motrix,交易模块,JavaScript,"4,141"

# answer 5

In [237]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)


url = " https://www.billboard.com/"
driver.get(url)
time.sleep(3)

In [240]:
url = []
start=0
end= 1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,"//a[@class='c-lazy-image__link lrv-a-unstyle-link']")
    for i in titles:
        url.append(i.get_attribute('href'))

In [243]:
element1 = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[1]/div/div[1]/div[1]/div/a/div/img")
element1.click()

In [281]:
Song_name = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in titles[0:99]:
        Song_name.append(i.text)

Artist_name = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in titles[0:99]:
        Artist_name.append(i.text)

Last_weekrank = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
    for i in titles[0:99]:
        Last_weekrank.append(i.text.split('\n')[-3])

Peak_rank = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
    for i in titles[0:99]:
        Peak_rank.append(i.text.split('\n')[-2])
        
        
Weeks_onboard = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
    for i in titles[0:99]:
        Weeks_onboard.append(i.text.split('\n')[-1])

In [287]:
len(Weeks_onboard)

99

In [288]:
df = pd.DataFrame({'Song_name':Song_name,'Artist_name':Artist_name,'Last_weekrank':Last_weekrank,'Peak_rank':Peak_rank,'Weeks_onboard':Weeks_onboard})

In [289]:
df

,Song_name,Artist_name,Last_weekrank,Peak_rank,Weeks_onboard
0,Last Night,Morgan Wallen,4,1,19
1,Flowers,Miley Cyrus,1,1,12
2,Princess Diana,Ice Spice & Nicki Minaj,3,1,14
3,Ella Baila Sola,Eslabon Armado X Peso Pluma,-,4,1
4,Creepin',"Metro Boomin, The Weeknd & 21 Savage",10,5,5
...,...,...,...,...,...
94,Memory Lane,Old Dominion,95,69,4
95,Love Again,The Kid LAROI,96,96,3
96,'98 Braves,Morgan Wallen,88,40,12
97,Di Que Si,Grupo Marca Registrada X Grupo Frontera,100,27,7
98,It Matters To Her,Scotty McCreery,-,99,1

# answer 6

In [291]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)


url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(3)

In [294]:
Novels = {}
Novels["Book_Name"] = []
Novels["Author_Name"] = []
Novels["Volume_Sold"] = []
Novels["Publisher"] = []
Novels["Genre"] = []


count = 1
for i in range(len(driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr"))):
    
    book_name = driver.find_element(By.XPATH,f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[2]")
    Novels["Book_Name"].append(book_name.text)
    
    author_name = driver.find_element(By.XPATH,f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[3]")
    Novels["Author_Name"].append(author_name.text)
    
    volume_name = driver.find_element(By.XPATH,f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[4]")
    Novels["Volume_Sold"].append(volume_name.text)
    
    publisher = driver.find_element(By.XPATH,f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[5]")
    Novels["Publisher"].append(publisher.text)
    
    genre = driver.find_element(By.XPATH,f"//table[@class='in-article sortable']/tbody/tr[{count}]/td[6]")
    Novels["Genre"].append(genre.text)
    
    count += 1
    
Novels_Topselling = pd.DataFrame(Novels)
Novels_Topselling.to_csv("Novels_Topselling.csv")
Novels_Topselling.head(15)

,Book_Name,Author_Name,Volume_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"

# answer 7

In [296]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)


url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(3)

In [315]:
name = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
    for i in titles:
        name.append(i.text.split('|')[0].split('(')[0])
        
Year_span = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
    for i in titles:
        Year_span.append(i.text.split('|')[0].split('\n')[0].split(' ')[-1])
        
Genre = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
    for i in titles:
        Genre.append(i.text.split('|')[2].split('\n')[0])
        
time = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
    for i in titles:
        time.append(i.text.split('|')[1])
        
rating = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
    for i in titles:
        rating.append(i.text.split('\n')[2])
        
Votes = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
    for i in titles:
        Votes.append(i.text.split('\n')[-1])

In [364]:
df = pd.DataFrame({'name':name,'Year_span':Year_span,'Genre':Genre,'time':time,'rating':rating,'Votes':Votes})

In [365]:
df

,name,Year_span,Genre,time,rating,Votes
0,1. Game of Thrones,(2011–2019),"Action, Adventure, Drama","[1. Game of Thrones (2011–2019), TV-MA | 57 mi...",9.2,"Votes: 2,154,427"
1,2. Stranger Things,(2016–2024),"Drama, Fantasy, Horror","[2. Stranger Things (2016–2024), TV-14 | 51 mi...",8.7,"Votes: 1,236,279"
2,3. The Walking Dead,(2010–2022),"Drama, Horror, Thriller","[3. The Walking Dead (2010–2022), TV-MA | 44 m...",8.1,"Votes: 1,023,478"
3,4. 13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller","[4. 13 Reasons Why (2017–2020), TV-MA | 60 min...",7.5,"Votes: 301,151"
4,5. The 100,(2014–2020),"Drama, Mystery, Sci-Fi","[5. The 100 (2014–2020), TV-14 | 43 min | Dram...",7.6,"Votes: 260,118"
...,...,...,...,...,...,...
95,96. Reign,(2013–2017),Drama,"[96. Reign (2013–2017), TV-14 | 42 min | Drama...",7.4,"Votes: 51,431"
96,97. A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",[97. A Series of Unfortunate Events (2017–2019...,7.8,"Votes: 63,466"
97,98. Criminal Minds,),"Crime, Drama, Mystery","[98. Criminal Minds (2005– ), TV-14 | 42 min |...",8.1,"Votes: 206,931"
98,99. Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama","[99. Scream: The TV Series (2015–2019), TV-14 ...",7,"Votes: 42,974"
99,100. The Haunting of Hill House,(2018),"Drama, Horror, Mystery","[100. The Haunting of Hill House (2018), TV-MA...",8.6,"Votes: 256,626"

# answer 8

In [369]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)


url = "https://archive.ics.uci.edu/ml/index.php"
driver.get(url)
time.sleep(3)

In [370]:
element1 = driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
element1.click()

In [372]:
uci_repositories = {}
uci_repositories['Dataset name']= []
uci_repositories['Data type'] = []
uci_repositories['Task'] = []
uci_repositories['Attribute type'] = []
uci_repositories['No of instances'] = []
uci_repositories['No of attribute'] = []
uci_repositories['Year'] = []

name = driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
for i in name:
    if len(uci_repositories['Dataset name']) < 586:
        uci_repositories['Dataset name'].append(i.text)
    else:
        pass
     
time.sleep(1)
for i in range(2,588):
    dtype = driver.find_element(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[2]/p")
    if dtype.text == " ":
        uci_repositories['Data type'].append("-")
    else:
        uci_repositories['Data type'].append(dtype.text)
    
    task = driver.find_element(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[3]/p")
    if task.text == " ":
        uci_repositories['Task'].append("-")
    else:
        uci_repositories['Task'].append(task.text) 
        
    type = driver.find_element(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[4]/p")
    if type.text == " ":
        uci_repositories['Attribute type'].append("-")
    else:
        uci_repositories['Attribute type'].append(type.text)
        
    instance = driver.find_element(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[5]/p")
    if instance.text == " ":
        uci_repositories['No of instances'].append("-")
    else:
        uci_repositories['No of instances'].append(instance.text) 
        
    num_attribute = driver.find_element(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[6]/p")
    if num_attribute.text == " ":
        uci_repositories['No of attribute'].append("-")
    else:
        uci_repositories['No of attribute'].append(num_attribute.text)        
        
    year = driver.find_element(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[7]/p")
    if year.text == " ":
        uci_repositories['Year'].append("-")
    else:
        uci_repositories['Year'].append(year.text)
time.sleep(1)


#Creating Dataframe
UCI_Repositories = pd.DataFrame(uci_repositories)
UCI_Repositories.to_csv("UCI_Repositories.csv")
UCI_Repositories.head(20)

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,-,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
10,Badges,"Univariate, Text",Classification,-,294,1,1994
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994
12,Balloons,Multivariate,Classification,Categorical,16,4,-
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
19,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,1996

# answer 9

In [381]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(2)


url = "https://www.naukri.com/hr-recruiters-consultants"
driver.get(url)
time.sleep(3)

In [382]:
search_box = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_box.send_keys("Data science")

In [379]:
search_box = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[2]/ul/li[1]/div")
search_box.click()

In [383]:
search_box = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_box.click()

In [429]:
rname = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in titles[0:40]:
        rname.append(i.text)
        
Designation = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in titles[0:40]:
        Designation.append(i.text)
        
Location = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
    for i in titles[0:40]:
        Location.append(i.text)
        
Skills = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in titles[0:40]:
        Skills.append(i.text)
        
Company = []
start=0
end=1
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="vcard"]')
    for i in titles[0:40]:
        Company.append(i.text.split('\n')[2])

In [436]:
len(rname)

40

In [438]:
df = pd.DataFrame({'name':rname,'Designation':Designation,'Location':Location,'Skills':Skills,'Company':Company})

In [439]:
df

,name,Designation,Location,Skills,Company
0,Aakash Harit,HR Manager,Delhi,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network
1,shravan Kumar Gaddam,Company Recruiter,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd
2,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP
3,Anik Agrawal,Company Recruiter,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd
4,subhas patel,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana...",Apidel Technologies Division of Transpower
6,Institute for Financial Management and Resear,Programme Manager,Chennai,Data Science,IFMR
7,Balu Ramesh,HR Administrator,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu...",Techvantage Systems Pvt Ltd
8,Asif Lucknowi,Director,Indore,"Technical Training, Software Development, Pres...",Weupskill- Live Wire India
9,InstaFinancials,Human Resource,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage...",CBL Data Science Private Limited
10,Kalpana Dumpala,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Innominds Software
11,Mubarak,Company HR,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ...",MoneyTap
12,Kushal Rastogi,Company HR,Mumbai,"Office Administration, Hr Administration, tele...",QuantMagnum Technologies Pvt. Ltd.
13,Priyanka Akiri,HR Manager,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET...",Infinitive Software Solutions
14,Kapil Devang,HR Manager,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science",BISP Solutions
15,Mahesh Babu Channa,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm...",SocialPrachar.com
16,Vaishnavi Kudalkar,HR Executive,Mumbai,"Data Science, Python, Data Analytics",Codeachive learning
17,Sakshi Chhikara,Assistant Manager HR,Chandigarh,"React.js, Data Science, Java, Front End, Busin...",BIZ INFOTECNO PRIVATE LIMITED
18,Ruchi Dhote,Senior Executive Talent Acquisition,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Bristlecone India Ltd
19,Manisha Yadav,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re...",Easi Tax
20,Riya Rajesh,Manager Talent Acquisition,Cochin,Data Science,Novelworx Digital Solutions
21,Rashmi Bhattacharjee,HR Head,Delhi,"Corporate Sales, Software Development, Softwar...",AXESTRACK SOFTWARE SOLUTIONS PRIVATE...
22,Faizan Kareem,HR MANAGER,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning...",FirstTech Consaltants Pvt.Ltd
23,Rithika dadwal,HR Recruiter,Pune,"Data Science, Machine Learning, Python, R, Dee...",Affine Analytics
24,Sandhya Khandagale,HR Recruiter,Pune,"Big Data, Data Science, Artificial Intelligenc...",Compumatrice Multimedia Pvt Ltd
25,Shaun Rao,Manager Human Resources,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Exela Technologies
26,Deeparchi Sharma,Company Recruiter,Gurgaon,"Research, Digital Marketing, Analytics, Softwa...",ZIGRAM
27,Azahar Shaikh,Company Recruiter,Pune,"Data Science, Artificial Intelligence, Machine...",NEAL ANALYTICS SERVICES PVT LTD
28,Manas,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product...",Autumn Leaf Consulting Services Private...
29,kumar,Proprietor,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",trainin
30,Sunil Vedula,CEO,Delhi,"Signal Processing, Machine Learning, Neural Ne...",Nanoprecise Sci Corp
31,Rajat Kumar,Founder CEO,Bengaluru / Bangalore,"Web Technologies, Project Management, Software...",R.S Consultancy &amp; Services
32,Dhruv Dev Dubey,Company Recruitment Head,Noida,"Server Administartion, Verilog, Vhdl, Digital ...",NETAPS FOUNDATION
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,Mysoru / Mysore,"Data Science, Machine Learning, Deep Learning,...",RMS Risk Management Solutions
34,Jayanth N,Project Manager,Hyderabad / Secunderabad,"Data Analytics, Managed Services, Team Leading...","Dollarbird Information Services Pvt, Ltd"
35,Avodha,Business Development Associate,Bengaluru / Bangalore,"Ethical Hacking, Security Operations Center, S...",Nikitha Palaparthi
36,Priya Khare,Senior Manager,New Delhi,"Data Science, Artificial Intelligence, analyti...",Independent Consultant
37,Amit Sharma,Consultant,Chennai,"Machine Learning, Artificial Intelligence, Dat...",ASCO consulting
38,Kanan,senior technology instructor,Aligarh,"C, C++, Artificial Intelligence, Python, Php, ...",NY INST
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,Salt Lake City,"Relationship Management, Retail Sales, Private...",3D India Staffing Research &amp; Consulting...